{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('/css/book.css') }}">
    <link rel="stylesheet" href="{{ asset('/css/style.css') }}">
{% endblock %}


{% block body %}

<div>
    <ul id="allCollections" style="display: flex;flex-wrap: wrap;margin-top: 20px;"></ul>
</div>

{% endblock %}