{% extends 'base.html.twig' %}

{% form_theme formManga 'bootstrap_4_layout.html.twig' %}

{% block body %}

	<h1 id="titleManga">Ajout d'un manga !</h1>

	<div id="formManga">
		{{ form_start(formManga) }}

		{{ form_row(formManga.title, {'attr': {'placeholder': "Titre du manga"}}) }}
		<div id="imageButtonManga">
			{{ form_widget(formManga.imageFile, {'attr': {'placeholder': "Image du manga"}}) }}

			<button type="submit" class="btn btn-success">
				Ajouter le manga
			</button>
		</div>
		{{ form_end(formManga) }}
	</div>

{% endblock %}

