{% extends 'base.html.twig' %}

{% block body %}

<h1 id="title_manhwa">Manhwa</h1>
<div id="cat_manhwa">
  <div>
      <p>(hangeul : 만화 ; hanja : 漫畵, prononciation : /ma.nhwa/) est le nom donné à la bande dessinée en Corée, ce terme est aussi utilisé à l'étranger pour désigner la bande dessinée coréenne.</p>
      </hr>
      <p>Part importante de la culture coréenne, le manhwa est très dynamique et se décline sous de nombreuses formes : papier, internet et téléphone mobile. La Corée du Sud est aujourd'hui l'un des premiers pays producteurs de bandes dessinées du monde. Un auteur de manhwa est appelé un manhwaga.</p>
  </div>

  <div>
      <h2 class="second_title">Histoire</h2>
      <p>Comme le manga japonais et le manhua chinois, le manhwa est fortement influencé par l'art classique asiatique et plus particulièrement chinois. Les gravures anciennes (xylographie) du xe siècle, très perfectionnées, servaient à diffuser les canons bouddhiques dans la population. Dans la gravure coréenne Bomyeongshibudo (보명십우도/普明十牛圖), une vache raconte une fable bouddhique. La page y est découpée en cases et l'image, au-dessus du texte, illustre celui-ci.</p>
      </hr>
      <p>On est déjà dans l'art séquentiel propre à la bande dessinée.</p>
      </hr>
      <p>Durant la période Joseon, l'art coréen s'affirme :</p>
      </hr>
      <p>Les portraits peints sont paisibles et non dépourvus d'humour. Cette tradition se retrouve dans les illustrations des couvertures des romans populaires, les affiches, et plus tard dans les premières bandes dessinées.</p></hr>
      <p>La littérature s'épanouit. Les poèmes narratifs chantés (Kasa가사), les romans populaires (Japga 잡가), le pansori (판소리) mais aussi les spectacles de clown, donnent tous une place importante à la narration et n'hésitent pas à critiquer la société. On retrouve ces caractéristiques (l'importance de la narration, la critique de la société) dans le manhwa.</p></hr>
      <p>Le manhwa s'est donc développé sous une double influence : la tradition épique et l'art pictural oriental fondé sur la ligne.</p>
  </div>

  <div>
    <h1 class="second_title">Quelques Exemples</h1>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Manga</th>
            <th>Mangaka</th>
            <th>Nombres de tome</th>
          </tr>
        </thead>
        <tbody>
        <tr>
          <td>Chonchu</td>
          <td>Kim Song-jae</td>
          <td>15</td>
        </tr>
        <tr>
          <td>Sun Ken Rock</td>
          <td>Boichi</td>
          <td>25</td>
        </tr>
        <tr>
          <td>Priest</td>
          <td>Min-Woo Hyung</td>
          <td>16</td>
        </tr>
        <tr>
          <td>Warlord</td>
          <td>Kim Song-jae</td>
          <td>15</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
{% endblock %}