{% extends 'base.html.twig' %}

{% block body %}

	<h1 id="title_seinen">Seinen</h1>
	<div class="cat_seinen">
		<div>
			<p>Le seinen manga (青年漫画?, le manga pour jeune homme) est un type de manga dont la cible éditoriale est avant tout constituée par les jeunes adultes (15 à 30 ans) de sexe masculin. Il arrive cependant que le genre soit destiné à des personnes plus âgées1. Le genre est à opposer au josei manga (女性漫画?, le manga pour jeune femme).</p>
			<br/>
			<p>Le seinen manga n'est pas un genre, le terme désigne la cible éditoriale du manga. Ainsi, un manga est considéré comme un seinen s'il a été prépublié au Japon dans un magazine dont la cible première est composée de jeunes adultes de sexe masculin.</p>
		</div>

		<div>
			<h2 class="second_title">Histoire</h2>
			<p>Le concept du seinen a été introduit dans les années 1946. En effet, après la Seconde Guerre mondiale, le manga est devenu un divertissement populaire grâce aux innovations apportées par Osamu Tezuka au point de vue graphique et narratif. Cependant, son style trop enfantin et proche des Silly Symphonies de Disney a vu naître certaines critiques au Japon. Ainsi, plusieurs artistes décident de publier des histoires plus sérieuses à la fin des années 1950 dans des kashihonya, ou librairies de prêts, qui commençaient à décliner du fait de la hausse du niveau de vie japonais. Les séries publiées sont alors plus violentes, réalistes et contiennent des scènes sexuelles explicites. Yoshihiro Tatsumi nomme ce style gekiga (images dramatiques). Des séries comme Kamui de Sampei Shirato ou Golgo 13 de Takao Saitō voient le jour, notamment dans le célèbre magazine Garo, et le succès est au rendez-vous. Afin de profiter de ce succès et l'élargir, les éditeurs de mangas lancent le seinen manga dans les années 1960 et en font une cible éditoriale destinée aux jeunes adultes. Le magazine Weekly Manga Action est alors créé en 1967, et le magazine Big Comic suit l'année suivante. De nombreux artistes de gekiga décident alors de se lancer dans le seinen, tandis que les librairies de prêts sont sur le déclin. Le style narratif et graphique du seinen sont généralement plus réalistes, avec une utilisation plus approfondie de la trame, des traits plus travaillés, une recherche plus poussée dans la mise en page, mais emprunte également des codes instaurés quelques années auparavant par Osamu Tezuka dans les manga shōnen, ce qui rend la frontière entre ces deux types assez floue, d'autant que les thèmes abordés sont les mêmes, allant du sport à la science-fiction en passant par les récits historiques ou la comédie.</p>
			<br/>
			<p>Pour bien différencier les cibles éditoriales, les éditeurs lancent de nombreux magazines spécialisés dans une seule tranche d'âge et de sexe ; pour le seinen, de nombreux magazines avec le terme « young » voient le jour, comme Weekly Young Jump, Weekly Young Sunday, Weekly Young Magazine et bien d'autres. De plus, les seinen comportent généralement moins de furigana à côté des kanji, signe que la personne est plus mature. D'autres magazines deviennent populaires par la suite, comme Ultra Jump, Big Comic Spirits, Morning ou Monthly Afternoon.</p>
		</div>

		<div>
			<h1 class="second_title">Quelques Exemples</h1>
			<table class="table table-hover">
				<thead>
					<tr>
						<th>Manga</th>
						<th>Mangaka</th>
						<th>Nombres de tome</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Berserk</td>
						<td>Kentaro Miura</td>
						<td>40</td>
					</tr>
					<tr>
						<td>Gunnm</td>
						<td>Yukito Kishiro</td>
						<td>09</td>
					</tr>
					<tr>
						<td>Gantz</td>
						<td>Hiroya Oku</td>
						<td>37</td>
					</tr>
					<tr>
						<td>Akira</td>
						<td>Katsuhiro Otomo</td>
						<td>14</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

{% endblock %}
